{% extends 'base.html' %}
{% block doctor %}
{% load static %}
{% load i18n %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-10 mx-auto">
            <div class="card shadow p-3">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>{% trans 'Username' %}</label>
                        <div id="res" style="font-size: 14px;"></div>
                        <input type="text" required id="username" name="username" class="form-control mt-2" placeholder="{% trans 'Enter a Username...' %}">
                    </div>
                    <input type="button" onclick="check_user()" id="continue" class="btn btn-success mt-2" value="{% trans 'Continue' %}">
                    <div class="form-group" id="matchotp" style="display: none;">
                        <label>{% trans 'Password' %}</label>
                        <div id="resotp" style="font-size: 14px;"></div>
                        <input type="password" id="otp" name="otpvalue" class="form-control mt-2" placeholder="{% trans 'Enter a Password...' %}">
                        <input type="button" onclick="matchotp()" id="confirmPwd" class="btn btn-success mt-3" value="{% trans 'Confirm Password' %}">
                    </div>
                    <input type="hidden" id="realotp">
                    <div class="form-group" id="new_password" style="display: none;">
                        <label>{% trans 'New Password' %} </label>
                        <input type="password" name="newPwd" class="form-control mt-2" placeholder="{% trans 'Enter a New Password...' %}">
                        <input type="submit"  class="btn btn-success mt-3" value="{% trans 'Change Password' %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function check_user(){
        let username = document.getElementById('username').value;
        $.ajax({
            url: "{% url 'reset-password-page' %}",
            type: "get",
            data: {username:username},
            success: function(data){
                if(data.status=="error"){
                    $('#res').html('Username is not in the database').addClass('text-danger');
                }else if(data.status == 'failed'){
                    $('#res').html('There was an error sending the message to the mail').addClass('text-danger');
                }else if(data.status == 'sent'){
                    $('#res').html('Message has been sent to your email').removeClass('text-danger').addClass('text-success');
                    $('#continue').hide();
                    $('#matchotp').slideDown(1500);
                    $('#realotp').val(data.otp)
                }
            }
        })
    }

    function matchotp(){
        let realotp = document.getElementById('realotp').value;
        let otp = document.getElementById('otp').value;
        if(realotp==otp){
            $('#res').html('Your password has been successfully verified').removeClass('text-danger').addClass('text-success')
            $('#matchotp').hide()
            $('#new_password').slideDown(1000)
        }else{
            $('#res').html('One-time code error').removeClass('text-success').addClass('text-danger')
        }

    }
</script>
{% endblock %}