{% extends 'base.html' %}
{% block doctor %}
{% load static %}
{% load i18n %}
<div class="hero_area">
    <section class=" slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-6">
                  <div class="slider_detail-box">
                    <h1>
                      {% trans 'Get up wherever you want' %} <br/>
                      {% trans 'Show yourself 1st Aid ' %}<br/>
                    </h1>
                    <p>
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                      nostrud exercitation ullamco laboris nisi
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        {% trans 'Read More' %}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt=""/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-6">
                  <div class="slider_detail-box">
                    <h1>
                      {% trans 'For This' %} <br/>
                      {% trans 'You just have to have a desire.' %} <br/>
                    </h1>
                    <p>
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                      nostrud exercitation ullamco laboris nisi
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        {% trans 'Read More' %}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt=""/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-6">
                  <div class="slider_detail-box">
                    <h1>
                      {% trans 'Certainly,' %} <br/>
                      {% trans 'Use our Website,' %} <br/>
                      {% trans 'and rate it.' %}
                    </h1>
                    <p>
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                      nostrud exercitation ullamco laboris nisi
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        {% trans 'Read More' %}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt=""/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-container">
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
</div>

    <!-- end slider section -->


  <!-- welcome section -->
  {% include 'welcome.html' %}
  <!-- end welcome section -->


  <!-- feedback section -->
<div class="background_feedbacks" style="background: -webkit-gradient(linear, left top, right top, from(#864ddf), to(#203376));
  background: linear-gradient(to right, #864ddf, #203376);">
  <section class="container p-5">
    <h3 class="text-center text-white " >{% trans 'Feedbacks' %}</h3>
    <hr class="bg-white w-50">
    <div class="row">
        {% for i in data %}
        <div class="col-md-6 col-lg-4">
          <div class="card shadow p-3 my-2">
            <img src="/media/{{i.img}}" alt="" class="img-fluid">
            <h5 class="mt-3">{{i.title}}</h5>
            <hr>
            <p>{{i.text|truncatechars:150}}</p>
            <hr>

            <small class="text-muted" style="text-align: end;">{{i.created_at|date}}</small>
          </div>
        </div>
        {% endfor %}
    </div>
  </section>
</div>

  <!-- end feedback section -->


  <!--problem section -->
  {% include 'problem.html' %}
  <!-- end problem section -->
  <!-- why section -->
  <section class="why_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          {% trans 'Why Choose Us' %}
        </h2>
      </div>
      <div class="content-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis
        </p>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="{% static 'images/smiley.png' %}" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
                97%
              </h3>
              <h6>
                {% trans 'SATISFIED CLIENTS' %}
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="{% static 'images/monitor.png' %}" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
                1200+
              </h3>
              <h6>
                {% trans 'AWESOME planing' %}
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="{% static 'images/multiple-users-silhouette.png' %}" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
                2300+
              </h3>
              <h6>
                {% trans 'CLIENTS' %}
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="{% static 'images/bar-chart.png' %}" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
                12000+
              </h3>
              <h6>
                {% trans 'Feedbacks' %}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end why section -->

  <!-- client section -->
  <section class="client_section layout_padding">
    <div class="container">
      <h2>
        {% trans 'What Our Clients Says' %}
      </h2>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_container layout_padding2">
              <div class="client_text">
                <p>
                  psum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                </p>
              </div>
              <div class="detail-box">
                <div class="img-box">
                  <img src="{% static 'images/client.png' %}" alt=""/>
                </div>
                <div class="name">
                  <h5>
                    Joans Mark
                  </h5>
                  <p>
                    cal
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding2">
              <div class="client_text">
                <p>
                  psum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                </p>
              </div>
              <div class="detail-box">
                <div class="img-box">
                  <img src="{% static 'images/client.png' %}" alt=""/>
                </div>
                <div class="name">
                  <h5>
                    John Dell
                  </h5>
                  <p>
                    cal
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding2">
              <div class="client_text">
                <p>
                  psum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                </p>
              </div>
              <div class="detail-box">
                <div class="img-box">
                  <img src="{% static 'images/client.png' %}" alt=""/>
                </div>
                <div class="name">
                  <h5>
                    Michael Jordan
                  </h5>
                  <p>
                    cal
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </section>
  <!-- end client section -->


{% endblock %}